<div class="container" id="home-container">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3 jumbotron text-white">
    <div class="container-fluid py-5">
      <div class="row">
        <h1 class="display-5 fw-bold">Alpha Blog</h1>
        <p class="col-md-8 fs-4">Welcome to your one and only Ruby on Rails 7 blog app styled with bootstrap 5.</p>
      </div>
    </div>
    <button class="btn btn-success btn-lg" type="button">Sign up!</button>
  </div>
</div>


