<div class="container" id="home-container">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3 jumbotron text-white text-right">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Alpha Blog</h1>
      <p class="col-md-8 fs-4">Welcome to your one and only Ruby on Rails 7 blog app styled with bootstrap 5.</p>
    </div>
    <button class="btn btn-success btn-lg" type="button">Sign up!</button>
  </div>
</div>

<footer class="py-2 my-0 fixed-bottom">
  <div class="container-sm border-bottom pb-2 mb-1">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </div>
  <p class="text-center text-muted">Copyright© 2023 Aline Grance</p>
</footer>
