@import 'bootstrap';

html, body {
  height: 100%;
  background-color: #d0d3ce;
}

.navbar {
  height: 75px;
  background-color: #4e583c !important;
  font-size: 1.2em;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  color: #c2eaa4;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  font-size: 1.3em;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset_data_url('jumbotron-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.btn-success {
  background-color: #4e583c !important;
  border: none !important;
}

.btn-outline-success {
  border-color: #c2eaa4 !important;
  color: #c2eaa4 !important;
}

.btn-outline-success:hover {
  background-color: #c2eaa4 !important;
  color: #4e583c !important;
}

.btn-outline-info {
  border-color: #4e583c !important;
  color: #4e583c  !important;
}

.btn-outline-info:hover {
  background-color: #4e583c !important;
  color:  #c2eaa4 !important;
}

.bg-info {
  background-color: #5a6646 !important;
}

.green-links {
  color: #4e583c;
  text-decoration: none;
}

.green-links:hover {
  text-decoration: underline !important;
}

footer {
  background-color: #6e7d54;
}

.text-muted {
  text-decoration: none !important;
}

#my-page-link:hover {
  text-decoration: underline !important;
}

.articles-ct {
  padding-bottom: 100px !important;
}

// pagination styling
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
  border-radius: 5px}
.flickr_pagination .disabled {
  color: #aaaaaa; }
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #4e583c; }
.flickr_pagination a {
  border: 1px solid #6e7d54;
  color: #6e7d54;
  text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #6e7d54;
  background: #6e7d54;
  color: #d0d3ce; }
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; }
.flickr_pagination .previous_page {
  margin-right: 1em; }
.flickr_pagination .next_page {
  margin-left: 1em; }